.add-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.add-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 600px;
    width: 100%;
}

.add-box form{
    display: grid;
    grid-template-columns:repeat(2, 1fr); /* 1 coluna por padrão */
    grid-gap: 20px;
}

.add-img-upload img{
    width: 100px;
}
.class{
    width: max(40%,250px);
}

.placeholder-option {
    color: #888; 
}
select:invalid {
    color: #888; 
}
select:not(:invalid) {
    color: initial; 
}
select:invalid option[value=""] {
    color: #888; 
}

.class input,
.add-product-description textarea,
.add-product-category select{
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid var(--second-color-green);
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select,
.add-category-price input{
    max-width: 120px;
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid var(--second-color-green);
}

.ingredient-input input{
    margin-right: 1rem;
}

.add-btn{
    border: none;
    padding: 10px;
    background-color: var(--second-color-green);
    color: var(--primary-color-white);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    width: 100%;
}

.add-btn:hover,
.add-btn:focus{
  box-shadow: inset 21em 0 0 0 var(--second-color-orange);
  transition: .5s;
  color: #f5f6fa;
}
.success-message{
    margin: 1rem;
}

@media screen and (min-width: 768px) {
    .add form {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    }
}
