.sidebar{
    width: 18%;
    min-height: 100vh;
    /* border: 1.5px solid var(--primary-color-grey); */
    border-top: 0;
    font-size: max(1vw,10px);
    background-color: var(--second-color-green);
    border-radius: 0px 15px 15px 0px;
}
.sidebar-emp{
    margin-top: 2rem;
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-color-white);
}
.sidebar-emp img{
    max-width: 40%;
    border-radius: 50%;
}
.sidebar-emp p{
    font-size: 15px;
}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-options p{
    color: var(--primary-color-white);
}

.sidebar-options img{
    width: 30px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1.5px solid var(--second-color-green);
    border-right: 0;
    padding: 8px 10px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}
.sidebar-options .active{
    border-color: var(--second-color-orange);
    background-color: var(--primary-color-white);
}

.sidebar-options .active p{
    color: var(--second-color-green);
}

@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }
}