.navbar {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 60px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 25px;
    color: var(--second-color-green);
    font-size: 16px;
}

.navbar-menu li a {
    position: relative;
    cursor: pointer;
}

.navbar__link {
    transition: .4s;
}

.navbar__link:hover {
    color: var(--second-color-orange);
}

ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    background-color: var(--second-color-orange);
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.search_img,
.basket_img {
    width: 20px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: var(--seconde-color-grey);
    border: 1px solid var(--second-color-orange);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: .3s;
}

.navbar button:hover {
    color: var(--primary-color-white);
    background: var(--second-color-orange);
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    font-size: 10px;
    text-align: center;
    position: absolute;
    min-width: 15px;
    min-height: 15px;
    background-color: var(--second-color-orange);
    border-radius: 30px;
    top: -8px;
    right: -8px;
}

.user-icon {
    width: 30px;
    cursor: pointer;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.logout-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: var(--primary-color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 15px;
}

.logout-menu button {
    background: none;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--primary-color-white);
    background-color: var(--second-color-green);
    margin: 15px;
}

.logout-menu button:hover {
    background-color: var(--second-color-orange);
}


@media (max-width: 1050px) {
    .navbar .logo {
        width: 110px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 70px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
}