.list {
    width: 80%;
    margin: 50px auto;
    color: var(--primary-color-dark);
    font-size: 16px;
}

.search-bar {
    margin: 1rem ;
    display: flex;
    justify-content: start;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1.5px solid var(--second-color-green);
    border-radius: 10px;
    font-size: 16px;
}

.container-list {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.food-list {
    width: 100%;
    list-style: none;
    padding: 0;
}

.food-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.food-card {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 15px;
}

.food-card:hover {
    transform: translateY(-5px);
}

.food-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.food-details {
    flex-grow: 1;
}

.food-details h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: var(--primary-color-dark);
}

.food-details p {
    margin: 5px 0;
    font-size: 14px;
    color: var(--primary-color-light);
}

.principal{
    margin-right: 10px;
}

.btn {
    border: none;
    padding: 10px;
    background-color: var(--second-color-green);
    color: var(--primary-color-white);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    width: 100%;
}

.btn:hover,
.btn:focus {
    box-shadow: inset 11em 0 0 0 var(--second-color-orange);
    transition: 0.6s;
    color: #f5f6fa;
}

.btn-list:hover,
.btn-list:focus {
    box-shadow: inset 20em 0 0 0 var(--second-color-orange);
    transition: 0.6s;
    color: #f5f6fa;
}

.css-13cymwt-control {
    margin-bottom: 1rem;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.pagination .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: var(--second-color-green);
    color: var(--primary-color-white);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    width: 40px;
    height: 40px;
}

.pagination .btn:hover,
.pagination .btn:focus {
    box-shadow: inset 4em 0 0 0 var(--second-color-orange);
    transition: 0.6s;
    color: #f5f6fa;
}

.pagination .btn.active {
    background-color: var(--second-color-orange);
}

.add{
    position: fixed;
    right: 1rem;
    bottom: 2%;
    display: inline-flex;
    padding: .3rem;
    background-color: var(--primary-color-white);
    border-radius: 50%;
    border: 2px solid var(--primary-color-dark);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.292);
    cursor: pointer;
}
.add img{
    width: 30px;
}
  
/* Responsive Styles */
@media screen and (max-width: 1024px) {
    .food-item {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .food-item {
        flex-basis: calc(100% - 20px);
    }
}